gpxe/*.gpx
kmls/*.kml
node/kmls/*.kml
.idea
# node_modules in all subdirs
**/node_modules
# kmls in all subdirs
**/*.kml
# gpxes in all subdirs
**/*.gpx
temp_cookies.csv
**/temp_cookies.json
# env files
**/.env
# macOS system files
.DS_Store
**/.DS_Store
# Python bytecode files
*.pyc
**/*.pyc

backend/data/db/tours.db

.venv
