[Unit]
Description=Komoot Map Application
After=network.target

[Service]
User=jonas
WorkingDirectory=/home/jonas/komoot-map/backend
Environment="PATH=/home/jonas/komoot-map/venv/bin"
Environment="KOMOOT_USER_ID=94026207184"
ExecStart=/home/jonas/komoot-map/venv/bin/gunicorn -c gunicorn.conf.py src.api.server:app
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target 