[Unit]
Description=Komoot Map Application
After=network.target

[Service]
User=pi
WorkingDirectory=/home/pi/komoot-map/backend
Environment="PATH=/home/pi/komoot-map/venv/bin"
ExecStart=/home/pi/komoot-map/venv/bin/gunicorn -c gunicorn.conf.py src.api.server:app
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target 